<?php  $signPackage = getSignPackage();    // 获取jssdk配置包 ?>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- <script src="__FUI__/lib/zepto.min.js"></script>
<script src="__FUI__/js/frozen.js"></script>
<script src="__PUBLIC__/Home/js/geo.js"></script> -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Stiw5Qs3emDlkkPsg5easwov"></script>
<script>
  /*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
   */
  wx.config({
    debug: false,
    appId: '<?php echo $signPackage["appId"];?>',
    timestamp: <?php echo $signPackage["timestamp"];?>,
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
    'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
    ]
  });

$(function(){
    init();
})

function init() {
    if ($(".ui-icon-close")) {
        $(".ui-icon-close").tap(function(){
            $(this).siblings("input").val('');
        });
    }
    
}

function checkJsApi() {
    var result;
    wx.checkJsApi({
        jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
        success: function(res) {
            return result+"dsd";
        }
    });

}

// 自定义分享到朋友圈
function onMenuShareTimeline(title, link, imgUrl, successFunc, cancelFunc) {
  wx.onMenuShareTimeline({
      title: title, // 分享标题
      link: link, // 分享链接
      imgUrl: imgUrl, // 分享图标
      success: function () { 
          successFunc();
      },
      cancel: function () { 
          cancelFunc();
      }
  });
}

// 自定义分享给朋友
// TODO
function onMenuShareAppMessage(title, desc, link, imgUrl, type, dataUrl, successFunc, cancelFunc) {
  wx.onMenuShareAppMessage({
      title: title, // 分享标题
      desc: desc, // 分享描述
      link: link, // 分享链接
      imgUrl: imgUrl, // 分享图标
      type: type, // 分享类型,music、video或link，不填默认为link
      dataUrl: dataUrl, // 如果type是music或video，则要提供数据链接，默认为空
      success: function () { 
          // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
          // 用户取消分享后执行的回调函数
      }
  });
}

// 自定义分享到手机QQ
function onMenuShareQQ(title, desc, link, imgUrl, successFunc, cancelFunc) {
  wx.onMenuShareQQ({
      title: title, // 分享标题
      desc: desc, // 分享描述
      link: link, // 分享链接
      imgUrl: imgUrl, // 分享图标
      success: function () { 
         successFunc();
      },
      cancel: function () { 
         cancelFunc();
      }
  });
}

// 自定义分享到QQ空间
// TODO
function onMenuShareQZone(title, desc, link, imgUrl, successFunc, cancelFunc) {
  wx.onMenuShareQZone({
      title: title, // 分享标题
      desc: desc, // 分享描述
      link: link, // 分享链接
      imgUrl: imgUrl, // 分享图标
      success: function () { 
         successFunc();
      },
      cancel: function () { 
         cancelFunc();
      }
  });
}


/** 
 * 批量上传图片
 * @param int count 选择图片的数量
 * @param function downMediaSuccess   从微信服务器下载图片成功时处理函数 
 * @param function downMediaError   从微信服务器下载图片失败时处理函数 
 */
function uploadImages(count, downMediaSuccess, downMediaError) {
    var localIds;
    wx.chooseImage({
        count: count, // 默认9
        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
        success: function (res) {
            localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
          
            for (var i=0; i<localIds.length; i++) {
                uploadImage(localIds[i], downMediaSuccess, downMediaError);
            }
            
        }
    });
}

/**
 * 上传单张图片
 * @param string localId    需要上传的图片的本地ID，由chooseImage接口获得
 * @param function downMediaSuccess   从微信服务器下载图片成功时处理函数 
 * @param function downMediaError   从微信服务器下载图片失败时处理函数 
 */
function uploadImage(localId, downMediaSuccess, downMediaError) {
  var serverId;
  wx.uploadImage({
      localId: localId, 
      isShowProgressTips: 1, // 默认为1，显示进度提示
      success: function (res) {
         serverId = res.serverId; // 返回图片的服务器端ID
  
         var url = "{:U('Base/downMedia','','')}";
         var data = 'media_id=' + serverId;
        
         ajax(url, data, downMediaSuccess, downMediaError);
         
      }
  });
}

// 获取地理位置
function getLocation(successFunc, errorFunc, type) {
  if (!type) {
      type = 'wgs84';
  }
  wx.getLocation({
      type: type, // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
      success: function (res) {
          successFunc(res);
      },
      cancel : function (res) {
          errorFunc(res);
      }
  });

}

// 打开微信内置地图查看位置
function openLocation(latitude, longitude, name, address, scale, infoUrl) {

  wx.openLocation({
      latitude: latitude, // 纬度，浮点数，范围为90 ~ -90
      longitude: longitude, // 经度，浮点数，范围为180 ~ -180。
      name: name, // 位置名
      address: address, // 地址详情说明
      scale: scale, // 地图缩放级别,整形值,范围从1~28。默认为最大
      infoUrl: infoUrl // 在查看位置界面底部显示的超链接,可点击跳转
  });

}


// 百度地图定位获取街道信息
function getStreet(longitude, latitude, successFunc) {
  var map = new BMap.Map("allmap");
  var point = new BMap.Point(longitude,latitude);
  var gc = new BMap.Geocoder();
  gc.getLocation(point, function(rs){
     var addComp = rs.addressComponents;
     // alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
     successFunc(addComp);
  });

}

/**
 * ajax提交数据函数
 * @param String url 处理数据的地址
 * @param Array data 提交的数据
 * @param String successMsg 提交数据成功的提示信息
 * @param String errorMsg 提交数据失败的提示信息
 */
function ajax(url,data,successFunc,errorFunc){
  $.ajax({
    url:url,
    type:"post",
    dataType:"json",
    data:data,
    success:function(data){
      successFunc(data);
    },
    error:function(){
      errorFunc(data);
    }
  });
}


/**
 * 微信支付
 */
function pay(price,orderid,params,payokFunc,paycancelFunc,payfailFunc){
  var url = "{:U('Base/json_pay','','')}";
  var price = price;
  if (!price) {
    price = 0.01;
  }
  //alert(url+"--"+"price="+price+"&orderid="+orderid);
  $.ajax({
    url : url,
    type : "post",
    dataType : "json",
    data : "price="+price+"&orderid="+orderid,
    success : function(data){
      var json_str = data;
      var json_obj = JSON.parse(json_str);
      callpay(json_obj,params,payokFunc,paycancelFunc,payfailFunc);
    },
    error : function(){
      alert("error");
    }
  });
}

function callpay(json_obj,params,payokFunc,paycancelFunc,payfailFunc){

  wx.chooseWXPay({
      timestamp: json_obj.timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
      nonceStr: json_obj.nonceStr, // 支付签名随机串，不长于 32 位
      package: json_obj.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
      signType: json_obj.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
      paySign: json_obj.paySign, // 支付签名
      success: function (res) {
          payokFunc(params);
      }
  });
}

// 数据有效性验证
function verify() {
  var verify = $("*[verify-name]");
  for (var i = 0, len = verify.length; i < len; i++) {
      var _this = verify[i];
      if (_this.getAttribute("verify-type").indexOf("isnull") != -1) {
          if (_this.value == '') {
            alert(_this.getAttribute("verify-name")+"必填");
            _this.focus();
            return false;
          }
      }

      if (_this.getAttribute("verify-type").indexOf("isemail") != -1) {
          var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
          if ( !reg.test(_this.value) ) {
              alert(_this.getAttribute("verify-name")+"格式不正确");
              _this.focus();
              return false;
          } 
          
      }

      if (_this.getAttribute("verify-type").indexOf("isphone") != -1) {
          var isPhone = /^([0-9]{3,4}-)?[0-9]{7,8}$/;
          var isMob=/^((\+?86)|(\(\+86\)))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;
          
          if( !isMob.test(_this.value) && !isPhone.test(_this.value) ) {
              alert(_this.getAttribute("verify-name")+"格式不正确");
              _this.focus();
              return false;
          } 
          
      }
  }

  return true;
}


/**
 * 关闭页面
 * @author 艾逗笔<765532665@qq.com>
 */
function closePage(){
    WeixinJSBridge.call('closeWindow');
}



</script>
<block name="html"></block>