<extend name="Base/common" />
<block name="main_content">
<style type="text/css">
.mod-table-head {
    margin-bottom: 20px;
}
.panel a {
    color: #08a5e0;
}
</style>
<include file="Public/crumb" />
<div class="mod">
    <div class="mod-head">
        <h3>
            <include file="Public/nav" />
        </h3>
    </div>
    <div class="tab-content mod-content">
    	<div class="mod-table-head">
    	    <a class="btn btn-primary" href="{:U('add')}">添加模块节点</a>
    	</div>

    	<volist name="nodes" id="vo">
    	<div class="panel panel-default">
    	    <div class="panel-heading">
    	       <h3 class="panel-title">{$vo.title}[<a href="{:U('add', array('pid'=>$vo['id'], 'level'=>2))}">添加控制器节点</a>][<a href="{:U('edit', array('id'=>$vo['id']))}">编辑</a>][<a href="{:U('delete', array('id'=>$vo['id']))}">删除</a>]</h3>
    	    </div>
    	    <div class="panel-body">
    	  	    <volist name="vo.children" id="vv">
        	    <div class="panel panel-default">
        	        <div class="panel-heading">
        	           <h3 class="panel-title">{$vv.title}[<a href="{:U('add', array('pid'=>$vv['id'], 'level'=>3))}">添加方法节点</a>][<a href="{:U('edit', array('id'=>$vv['id']))}">编辑</a>][<a href="{:U('delete', array('id'=>$vv['id']))}">删除</a>]</h3>
        	        </div>
        	        <div class="panel-body">
        	      	<volist name="vv.children" id="vvv">
        	        	{$vvv.title}[<a href="{:U('edit', array('id'=>$vvv['id']))}">编辑</a>][<a href="{:U('delete', array('id'=>$vvv['id']))}">删除</a>]&nbsp;&nbsp;&nbsp;&nbsp;
        	    	</volist>
        	        </div>
        	    </div>
    		    </volist>
    	    </div>
    	</div>
    	</volist>
    </div>
</div>
</block>