<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
<meta name="format-detection" content="telephone=no" />
<title>豆信-轻量级微信公众号开发框架</title>
<base href="" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/bootstrap.css?v=20141226" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/icon.css?v=20141226" />
<script type="text/javascript">
    var G_INDEX_SCRIPT = "";
    var G_BASE_URL = "";
    var G_STATIC_URL = "";
    var G_UPLOAD_URL = "";
    var G_USER_ID = "";
    var G_POST_HASH = "";
</script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/common.css?v=20141226" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/plugins/webuploader/css/webuploader.css?v=20141226" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/plugins/webuploader/css/style.css?v=20141226" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.2.js?v=20141226" ></script>
<!-- <script type="text/javascript" src="__PUBLIC__/plugins/webuploader/dist/webuploader.js?v=20141226" ></script>
<script type="text/javascript" src="__PUBLIC__/plugins/webuploader/dist/upload.js?v=20141226" ></script> -->
<script type="text/javascript" src="__PUBLIC__/admin/js/aws_admin.js?v=20141226" ></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/aws_admin_template.js?v=20141226" ></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js?v=20141226" ></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/framework.js?v=20141226" ></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/global.js?v=20141226" ></script>
<!--[if lte IE 8]>
    <script type="text/javascript" src="__PUBLIC__/js/respond.js"></script>
<![endif]-->
</head>

<body>
<div  class="aw-header">
    <button class="btn btn-sm mod-head-btn pull-left">
        <i class="icon icon-bar"></i>
    </button>

    <div class="mod-header-user">
        <ul class="pull-right">
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle mod-bell" data-toggle="dropdown">
                    <i class="icon icon-bell"></i>
                                        <span class="label label-danger">1</span>
                                    </a>
                <ul class="dropdown-menu mod-chat">
                                    <div class="mod-list-head">
                        您有 1 条消息                    </div>

                                        <li class="mod-media">
                        <a href="http://www.wecenter.com/downloads/">
                            程序需要更新，最新版本为 3.1.8                        </a>
                    </li>
                                    </ul>
            </li>

            <li class="dropdown username">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="http://112.124.26.161/uploads/avatar/000/00/00/03_avatar_mid.jpg" class="img-circle" width="30">
                    <if condition="$user_info['nickname'] neq ''">{$user_info['nickname']}<else />{$user_info['username']}</if>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu pull-right mod-user">
                    <li>
                        <a href="{:U('Index/index')}"><i class="icon icon-home"></i>首页</a>
                    </li>

                    <li>
                        <a href="{:U('User/Public/profile')}"><i class="icon icon-ul"></i>个人资料</a>
                    </li>

                    <li>
                        <a href="{:U('User/Public/login_out')}"><i class="icon icon-logout"></i>退出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="aw-side" id="aw-side">
    <div class="mod">
        <div class="mod-logo">
            <img class="pull-left" src="__PUBLIC__/admin/img/logo.png" alt="" />
            <h1>豆信3.0</h1>
        </div>

        <div class="mod-message">
            <div class="message">
                <a class="btn btn-sm" href="{:U('Mp/Index/index')}" title="公众号首页">
                    <i class="icon icon-home"></i>
                </a>

                <a class="btn btn-sm" href="{:U('Mp/Mp/lists')}" title="公众号列表">
                    <i class="icon icon-ul"></i>
                </a>

                <a class="btn btn-sm" href="{:U('Admin/Index/index')}" title="系统功能">
                    <i class="icon icon-setting"></i>
                </a>
            </div>
        </div>
        
        <ul class="mod-bar" >
            <li>
                <a href="{:U('User/Public/profile')}" class=" icon icon-home active">
                    <span>个人资料</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="aw-content-wrap">
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                    <li><a href="{:U('profile')}">基本信息</a></li>
                    <li class="active"><a href="{:U('change_password')}">修改密码</a></li>
                </ul>
            </h3>
        </div>
        <div class="tab-content mod-content">
            
                <form action="" method="post">
                <table class="table table-striped">
                    <input name="uid" type="hidden" value="2833">
                    <tbody><tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">原密码:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" name="origin_pwd" type="text" value="">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">新密码:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" name="new_pwd" type="text" value="">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">确认密码:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" name="confirm_pwd" type="text" value="">
                                </div>
                            </div>
                        </td>
                    </tr>
                

                </tbody><tfoot>
                <tr>
                    <td>
                        <input type="submit" value="保存设置" class="btn btn-primary center-block" />
                    </td>
                </tr>
                </tfoot>
            </table>
            </form>
        </div>
    </div>
</div>

<div class="aw-footer">
    <p>Copyright &copy; 2016 - Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter 3.1.0</a></p>
</div>

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>


<div style="display:none;" id="__crond">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/1459163416%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
        });

    </script>
</div>

<!-- Escape time: 0.027882099151611 --><!-- / DO NOT REMOVE -->

</body>
</html>
