<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
<meta name="format-detection" content="telephone=no" />
<title>{$system_settings.site_name}</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/icon.css?v=20141226" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css" />
<link href="__PUBLIC__/Admin/css/register.css?v=20141226" rel="stylesheet" type="text/css">
</head>
<body>
<div class="aw-register-box">
    <div class="mod-head">
        <h1>注册新用户</h1>
    </div>
    <div class="mod-body">
        <form class="aw-register-form" action="" method="post">         
            <ul>
                <li class="alert alert-danger error_message text-left" style="display:none">
                    <i class="icon icon-delete"></i> <em></em>
                </li>
                <li>
                    <input class="aw-register-name form-control" type="text" name="username" placeholder="用户名" value="">
                </li>
                <li>
                    <input class="aw-register-name form-control" type="password" name="password" placeholder="密码">
                </li>
                <li>
                    <input class="aw-register-email form-control" type="email" placeholder="邮箱" name="email" value="">
                </li>
                <li>
                    <div id="float-captcha"></div>
                </li>
                <li class="last">
                    <label><!-- <input type="checkbox" checked="checked" value="agree" name="agreement_chk"> 我同意 --></label> <!-- <a href="javascript:;" class="aw-agreement-btn">用户协议</a> -->
                    <a href="{:U('login')}" class="pull-right">已有账号?</a>
                   <!--  <div class="aw-register-agreement hide">
                        <div class="aw-register-agreement-txt" id="register_agreement">当您申请用户时，表示您已经同意遵守本规章。<br>
欢迎您加入本站点参与交流和讨论，本站点为社区，为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：<br>
<br>
一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：<br>
　（一）煽动抗拒、破坏宪法和法律、行政法规实施的；<br>
　（二）煽动颠覆国家政权，推翻社会主义制度的；<br>
　（三）煽动分裂国家、破坏国家统一的；<br>
　（四）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
　（五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br>
　（六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>
　（七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br>
　（八）损害国家机关信誉的；<br>
　（九）其他违反宪法和法律行政法规的；<br>
　（十）进行商业广告行为的。<br>
<br>
二、互相尊重，对自己的言论和行为负责。<br>
三、禁止在申请用户时使用相关本站的词汇，或是带有侮辱、毁谤、造谣类的或是有其含义的各种语言进行注册用户，否则我们会将其删除。<br>
四、禁止以任何方式对本站进行各种破坏行为。<br>
五、如果您有违反国家相关法律法规的行为，本站概不负责，您的登录信息均被记录无疑，必要时，我们会向相关的国家管理部门提供此类信息。</div>
                    </div> -->

                </li>
                <li class="clearfix">
                    <input type="hidden" name="invite_user" value="{$invite_user}" />
                    <input type="hidden" name="invite_code" value="{$invite_code}" />
                    <button class="btn btn-large btn-blue btn-block ajax-post" id="register">注册</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="mod-footer"></div>
</div>
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js" ></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
    var handlerPopup = function(captchaObj) {
        $('#register').click(function() {
            var data = $('form').serialize();
            var url = $('form').attr('action');
            var validate = captchaObj.getValidate();
            if (!validate) {
                $('.error_message em').html('请先拖动滑块完成验证码校验');
                $('.error_message').show().find('.icon-delete').click(function() {
                    $('.error_message').hide();
                });
                return false;
            }
            $.ajax({
                'url' : url,
                'type' : 'post',
                'dataType' : 'json',
                'data' : data,
                success : function(data) {
                    console.log(data);
                    if (data.status == 1) {
                        $('.error_message').html(data.info+'，页面即将自动跳转...').show();
                        setTimeout(function() {
                            window.location.href = data.url;
                        }, 1500);
                    } else {
                        $('.error_message em').html(data.info);
                        $('.error_message').show().find('.icon-delete').click(function() {
                            $('.error_message').hide();
                        });
                    }
                },
                error : function() {
                    console.log('error');
                }
            });
            return false;
        });
        captchaObj.bindOn('#register');
        captchaObj.appendTo('#float-captcha');
    }
    $.ajax({
        url : "{:U('geetest_verify')}/t/"+(new Date()).getTime(),
        type : 'get',
        dataType : 'json',
        success : function(result) {
            console.log(result);
            initGeetest({
                gt : result.gt,
                challenge : result.challenge,
                product : 'float',
                offline : !result.success
            }, handlerPopup);
        },
        error : function() {
            console.log('error');
        }
    });
</script>
</body>
</html>