<extend name="Base/common" />
<block name="main_content">
<style type="text/css">
.mod-table-head {
    margin-bottom: 20px;
}
.panel a {
    color: #08a5e0;
}
</style>
<include file="Public/crumb" />
<div class="mod">
    <div class="mod-head">
        <h3>
            <include file="Public/nav" />
        </h3>
    </div>
    <div class="tab-content mod-content">
    	<form action="" method="post">
    	<volist name="nodes" id="vo">
    	<div class="panel panel-default">
    	    <div class="panel-heading">
    	       <h3 class="panel-title"><input type="checkbox" name="nodes[]" value="{$vo.id}_{$vo.level}" <if condition="$vo['checked']">checked</if> />{$vo.title}</h3>
    	    </div>
    	    <div class="panel-body">
    	  	    <volist name="vo.children" id="vv">
        	    <div class="panel panel-default">
        	        <div class="panel-heading">
        	           <h3 class="panel-title"><input type="checkbox" name="nodes[]" value="{$vv.id}_{$vv.level}" <if condition="$vv['checked']">checked</if> />{$vv.title}</h3>
        	        </div>
        	        <div class="panel-body">
        	      	<volist name="vv.children" id="vvv">
        	        	<input type="checkbox" name="nodes[]" value="{$vvv.id}_{$vvv.level}" <if condition="$vvv['checked']">checked</if> />{$vvv.title}&nbsp;&nbsp;&nbsp;&nbsp;
        	    	</volist>
        	        </div>
        	    </div>
    		    </volist>
    	    </div>
    	</div>
    	</volist>
        <input type="hidden" name="role_id" value="{$role_id}" />
        <input type="submit" value="确认提交" class="btn btn-primary center-block" />
        </form>
    </div>
</div>
</block>