<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>{$config['top_title']}</title>
    {:hook('jssdk', false)}
    {:hook('import_css','frozen')}
	<style type="text/css">
		.feedback-form{
			margin-top: 10px;
		}
		.ui-form-textarea.ui-form-item{
			height: auto;
		}
		.ui-form-textarea.ui-form-item textarea{
			padding: 15px 0;
		}
		input[type='text']{
			height: 44px;
		}
	</style>
</head>

<body ontouchstart="">

	<header class="ui-header ui-header-stable ui-border-b">
	    <i class="ui-icon-return"></i><h1>{$config['page_title']}</h1>
	</header>


	<section class="ui-container feedback-form">
		<div class="ui-form ui-border-t">
		    <form method="post">
		        <div class="ui-form-textarea ui-form-item ui-form-item-pure ui-border-b">
		            <textarea name="content" id="content" rows="7" placeholder="请输入内容"></textarea>
		        </div>
	 
	 			<if condition="$config['need_name'] eq '1'">
                <div class="ui-form-item ui-form-item-pure ui-border-b">
                    <input type="text" placeholder="您的姓名" name="name" id="name" value="">
                    <a href="#" class="ui-icon-close"></a>
                </div>
           		</if>
           		<if condition="$config['need_contact'] eq '1'">
			        <div class="ui-form-item ui-form-item-pure ui-border-b">
	                    <input type="text" placeholder="您的<if condition="$config['contact_type'] eq '1'">QQ号<elseif condition="$config['contact_type'] eq '2'" />微信号<elseif condition="$config['contact_type'] eq '3'" />邮箱<else />手机号</if>" name="contact" id="contact" value="">
	                    <input type="hidden" name="contact_type" id="contact_type" value="{$config['contact_type']}" />
	                    <a href="#" class="ui-icon-close"></a>
	                </div>
                </if>
		        <div class="ui-btn-wrap">
				    <a class="ui-btn-lg ui-btn-primary" id="submit">
				        提交
				    </a>
				</div>
		    </form>
		</div>
	</section>

	{:hook('import_js',array('zepto','frozen'))}

	<script type="text/javascript">

		wx.ready(function() {
			hideOptionMenu();
		});

		$(".ui-icon-return").tap(function(){
			closeWindow();		// 关闭页面
		});
		
		// 表单提交事件
		$("#submit").click(function(){

			var need_name = "{$config['need_name']}";
			var need_contact = "{$config['need_contact']}";
			var contact_type = "{$config['contact_type']}";
			var content = $("#content");
			
			if (!content.val()) {
				alert("请填写内容");
				content.focus();
				return false;
			}

			if (need_name == '1') {
				var name = $("#name");
				if (!name.val()) {
					alert("请填写您的姓名");
					name.focus();
					return false;
				}
			}

			if (need_contact == '1') {
				var contact = $("#contact");
				if (!contact.val()) {
					alert("请填写"+contact.attr('placeholder'));
					contact.focus();
					return false;
				}
			}


			var url = "{:create_addon_url('deal')}";
			console.log(url);
			var data = {
				content : content.val(),
				name : name ? name.val() : '',
				contact : contact ? contact.val() : '',
				contact_type : contact_type
			};

			ajax(url,data,successFunc,errorFunc);
		    
		    return false;
		});

		/**
		 * 提交反馈内容成功后处理函数
		 * @author 艾逗笔<765532665@qq.com>
		 */
		function successFunc(data) {
			if (data.status == 0) {
				alert(data.info);
				closeWindow();
			} else {
				alert(data.info);
			}
			
		}

		/**
		 * 提交反馈内容失败时处理函数
		 * @author 艾逗笔<765532665@qq.com>
		 */
		function errorFunc(data) {
			alert("提交数据错误，请重试");
		}

	</script>

</body>

</html>