<div class="aw-side" id="aw-side">
    <div class="mod">
        <div class="mod-logo">
            <img class="pull-left" src="__PUBLIC__/Admin/img/logo.png" alt="" />
            <h1>豆信3.0</h1>
        </div>

        <div class="mod-message">
            <div class="message">
                <a class="btn btn-sm" href="{:U('Home/Index/index')}" target="_blank" title="网站首页">
                    <i class="icon icon-home"></i>
                </a>

                <a class="btn btn-sm" href="{:U('Admin/Index/index')}" title="后台首页">
                    <i class="icon icon-ul"></i>
                </a>

                <a class="btn btn-sm" href="{:U('User/Public/login_out')}" title="退出登录">
                    <i class="icon icon-logout"></i>
                </a>
            </div>
        </div>
        
        <block name="sidenav">
            <ul class="mod-bar" >
                <li>
                    <a href="{:U('Index/index')}" class=" icon icon-home">
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="{:U('Setting/siteinfo')}" class=" icon icon-setting">
                        <span>全局设置</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="icon icon-user" data="icon">
                        <span>用户权限管理</span>
                    </a>
                    <ul class="hide">
                        <li>
                            <a href="{:U('User/lists')}">
                                <span>用户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('Role/lists')}">
                                <span>角色管理</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="{:U('Node/lists')}">
                                <span>权限节点管理</span>
                            </a>
                        </li> -->
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class=" icon icon-reply" data="icon">
                        <span>公众号管理</span>
                    </a>
                    <ul class="hide">
                        <li>
                            <a href="{:U('Mp/lists')}">
                                <span>公众号列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('MpGroup/lists')}">
                                <span>公众号套餐</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class=" icon icon-job" data="icon">
                        <span>扩展管理</span>
                    </a>
                    <ul class="hide">
                        <li>
                            <a href="{:U('Addons/lists')}">
                                <span>插件管理</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="{:U('Model/lists')}">
                                <span>模型管理</span>
                            </a>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </block>

    </div>
</div>

<script type="text/javascript">
var controller = "<php>echo CONTROLLER_NAME;</php>";        // 获取当前控制器
var action = "<php>echo ACTION_NAME;</php>";
var ca = controller+'/'+action;
var active_a = $("#aw-side a[href*='"+controller+"/']");              // 获取链接中包含当前控制器的a标签
var active_ul = active_a.parent("li").parent("ul");         // 获取需要显示的ul标签
var active_wrap = active_ul.siblings("a");                  

active_a.addClass("active");
active_ul.removeClass("hide");
active_wrap.addClass("active");

</script>
