<extend name="Base/common" />
<block name="main_content">
<include file="Public/crumb" />
<style type="text/css">
.tab-content {
    float: left;
    width: 100%;
}
.template_select {
    float: left;
    width: 100%;
    zoom: 1;
    margin: 0 0 20px;
}
.template_select li {
    float: left;
    position: relative;
    margin: 0 15px;
    width: 170px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
.template_item .use_tips {
    position: absolute;
    top: 50px;
    left: 170px;
    background: #333;
    padding: 10px;
    color: #fff;
    width: 150px;
    border-radius: 10px;
    text-align: left;
    display: none;
    z-index: 1000;
}
.template_select li .phone {
    width: 144px;
    height: 281px;
    position: relative;
}
.template_select li .phone img {
    position: absolute;
    width: 144px;
    height: 240px;
    top: 55px;
    left: 13.5px;
}
.template_item p {
    padding-top: 10px;
    font-size: 12px;
}
</style>
<div class="mod">
    <div class="mod-head">
        <h3>
			<include file="Public/nav" />
		</h3>
    </div>
    <div class="mod-body tab-content">
        <if condition="$tip">
        	<div class="alert alert-info tip" role="alert">{$tip}</div>
        </if>
        <div class="tab-pane active" id="list">
            <if condition="$subnav">
            <ul class="nav nav-tabs">
                <volist name="subnav" id="vo">
                <li role="presentation" class="{$vo.class}"><a href="{$vo.url}">{$vo.title}</a></li>
                </volist>
            </ul> 
            <br>
            </if>
            <div class="mod-table-head">
                <if condition="$add_button"><a class="btn btn-primary" href="{:U('add')}">添加{$model['title']}</a></if>
                <if condition="$del_button"><a class="btn btn-danger del-btn" href="javascript:;">删除{$model['title']}</a></if>
                <volist name="btn" id="vo">
                    <a class="{$vo.class}" href="{$vo.url}" {$vo.attr}>{$vo.title}</a>&nbsp;
                </volist>
            </div>
            <br>

            <form>
            	<ul class="template_select">
                    <volist name="tempList" id="vo">
                    <li class="template_item {$vo.class}">
                    	<if condition = "!empty($vo[desc])">
                    	<div class="use_tips">{$vo.desc}</div>
                        </if>
                    	<div class="phone">
                        	<img src="{$vo.icon}" />
                        </div>
                        <p style="margin:10px;"><input type="radio" {$vo.checked} name="template" id="template_{$vo.dirName}" value="{$vo.dirName}"/>
                        <label for="template_{$vo.dirName}">{$vo.title}</label></p>
                    </li>
                    </volist>
                </ul>
            </form>
        
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
	$(function(){
		//选择模板并且ajax提交
		//选择Ajax提交		
		$('.template_item').click(function(){
			if(!$(this).hasClass('selected')){
				$(this).addClass('selected');
				$(this).siblings().removeClass("selected");
				$(this).find('input').click();

				//如果不是ajax提交 不要以下代码"{:$_GET['_action']}"
				var value = $(this).find('input').val();
				$.ajax({
					url:"{:create_addon_url('temp_set',array('wid'=>$_GET['wid'],'method'=>$_GET['method']))}",
					data:{tempname:value},
					type:"post",
					dataType:"json",
					success:function(data){
						if(data){
							alert(data);
							window.location.reload();
						}
						}
					})
				}
			});
	})
	$('.template_item').hover(function(){
			$(this).find('.use_tips').stop().fadeIn();
			$(this).addClass('hover');
		},function(){
			$(this).find('.use_tips').stop().fadeOut();
			$(this).removeClass('hover');
		})
</script>
</block>
