<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
<meta name="format-detection" content="telephone=no" />
<title>{$meta_title}-{$system_settings['site_name']}</title>
<meta name="keywords" content="{$settings['site_keywords']}" />
<meta name="description" content="{$settings['site_intro']}" />
<script type="text/javascript">
    var upload_path = "{:U('Mp/Material/upload')}";
    var get_image_list_url = "{:U('Mp/Material/get_image_list')}";
    var delete_attach_url = "{:U('Mp/Material/delete_attach')}";
    var _this_ele_name = '';
</script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Common/css/icon.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/framework.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/global.js" ></script>
<!--[if lte IE 8]>
    <script type="text/javascript" src="__PUBLIC__/Common/js/respond.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/webuploader/css/webuploader.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Plugins/webuploader/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/Plugins/webuploader/js/webuploader.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugins/webuploader/js/upload.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/Plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugins/ueditor/ueditor.all.min.js"></script> -->
<!-- <script type="text/javascript" src="__PUBLIC__/Plugins/editormd/js/editormd.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Plugins/editormd/css/editormd.css" /> -->
<block name="style"></block>
</head>

<body>
    <div id="modal-wechat-webuploader" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none; padding-right: 17px;">
        <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <ul class="nav nav-pills" role="tablist">
                        <li id="li_upload_perm" data-mode="perm" class="active" role="presentation">
                            <a href="#wechat_upload" aria-controls="wechat_upload" role="tab" data-toggle="tab">上传图片</a>
                        </li>
                        <!-- <li id="li_upload_temp" data-mode="temp" role="presentation">
                            <a href="#wechat_upload" aria-controls="wechat_upload" role="tab" data-toggle="tab">上传临时图片(保留3天)</a>
                        </li> -->
                        <li id="li_history_image" class="" role="presentation">
                            <a href="#wechat_history_image" aria-controls="wechat_history_image" role="tab" data-toggle="tab">浏览图片</a>
                        </li>
                        <!-- <li id="li_history_audio" class="hide" role="presentation">
                            <a href="#wechat_history_audio" aria-controls="wechat_history_audio" role="tab" data-toggle="tab">浏览音频</a>
                        </li>
                        <li id="li_history_video" class="hide" role="presentation"><a href="#wechat_history_video" aria-controls="wechat_history_video" role="tab" data-toggle="tab">浏览视频</a></li> -->
                    </ul>
                </div>
                <div class="modal-body tab-content">
                    <div role="tabpanel" class="tab-pane history" id="wechat_history_image">
                        <div class="history-content" style="height:330px">
                            <ul class="img-list clearfix">
                            </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div style="float: left;" class="pagination">
                            </div>
                            <div style="float: right;">
                                <button style="display:none;" type="button" class="btn btn-primary">确认</button>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane upload active" id="wechat_upload">
                        <div id="uploader">
                            <div class="queueList">
                                <div id="dndArea" class="placeholder">
                                    <div id="filePicker"></div>
                                    <p>或将照片拖到这里，单次最多可选300张</p>
                                </div>
                            </div>
                            <div class="statusBar" style="display:none;">
                                <div class="progress">
                                    <span class="text">0%</span>
                                    <span class="percentage"></span>
                                </div><div class="info"></div>
                                <div class="btns">
                                    <div id="filePicker2"></div><div class="uploadBtn">确定使用</div>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>

<div  class="aw-header">
    <button class="btn btn-sm mod-head-btn pull-left">
        <i class="icon icon-bar"></i>
    </button>

    <div class="mod-header-user">
        <ul class="pull-left">
            <li class="dropdown mp">
                <if condition="$mp_info['origin_id']">
                <a href="#" class="dropdown-toggle mod-bell" data-toggle="dropdown">
                    <img src="<if condition="$mp_info['headimg']">{$mp_info['headimg']}<else />__PUBLIC__/Admin/img/noname.jpg</if>" class="img-circle" width="30" height="30" style="position:relative;top:8px;">
                    {$mp_info['name']}
                    <span class="caret"></span>
                </a>
                <else />
                <a href="#" class="dropdown-toggle mod-bell" data-toggle="">
                    <img src="__PUBLIC__/Admin/img/noname.jpg" class="img-circle" width="30" height="30" style="position:relative;top:8px;">
                    <if condition="$_G['module'] eq 'admin'">
                    系统管理后台
                    <else />
                    请选择账号
                    </if>
                </a>
                </if>
                <ul class="dropdown-menu mod-user">
                    <!--<li>-->
                        <!--<a href="{:U('Mp/Index/index', ['mpid'=>$mp_info['id']])}"><i class="icon icon-home"></i>管理当前账号</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="{:U('Mp/Mp/edit', ['id'=>$mp_info['id'], 'mp_type'=>$mp_info['mp_type']])}"><i class="icon icon-edit"></i>编辑当前账号</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="{:U('Mp/Mp/lists', ['mp_type'=>$mp_info['mp_type']])}"><i class="icon icon-ul"></i>管理其他账号</a>-->
                    <!--</li>-->
                    <volist name="mp_list" id="vo">
                        <li>
                            <a href="{:U('Mp/Mp/lists', ['mp_type'=>$mp_info['mp_type']])}">{$vo.name}</a>
                        </li>
                    </volist>
                </ul>
            </li>
            <volist name="topnav" id="vo">
            <li class="top-menu"> 
                <a href="{$vo.url}" class="{$vo.class}">{$vo.title}</a>
            </li>
            </volist>
        </ul>
       <!--  <if condition="$mp_info"><a href="{:U('Mp/Index/index', array('mpid'=>$mp_info['id']))}">{$mp_info['name']}</a></if> -->
        <ul class="pull-right">
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle mod-bell" data-toggle="dropdown">
                    <i class="icon icon-bell"></i>
                    <span class="label label-danger">1</span>
                </a>
                <ul class="dropdown-menu mod-chat">
                    <div class="mod-list-head">
                        您有 1 条消息                    
                    </div>
                    <li class="mod-media">
                        <a href="http://bbs.douchat.net" target="_blank">
                            豆信体验反馈
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown username">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="<if condition="$user_info['headimg']">{$user_info['headimg']}<else />__PUBLIC__/Admin/img/noname.jpg</if>" class="img-circle" width="30" height="30" style="position:relative;top:8px;">
                    <if condition="$user_info['nickname'] neq ''">{$user_info['nickname']}<else />{$user_info['username']}</if>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu pull-right mod-user">
                    <li>
                        <a href="{:U('Home/Index/index')}" target="_blank"><i class="icon icon-home"></i>首页</a>
                    </li>

                    <li>
                        <a href="{:U('Mp/User/profile')}"><i class="icon icon-ul"></i>个人资料</a>
                    </li>

                    <li>
                        <a href="{:U('User/Public/login_out')}"><i class="icon icon-logout"></i>退出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="aw-ajax-box" class="aw-ajax-box">
    <div id="aw-loading" class="hide" style="display: none;">
        <div id="aw-loading-box"></div>
    </div>
    <div class="modal fade alert-box aw-tips-box in" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="myModalLabel">提示信息</h3>
                </div>
                <div class="modal-body">
                    <p>提示内容</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="display:none"></div>