<!DOCTYPE html>
<html>
<head>
    <title>请先关注后操作</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keyword" content="{$system_settings.site_keywords}" />
    <meta name="description" content="{$system_settings.site_intro}" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/default/css/site.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/default/css/style.css">
</head>
<body>

<img style="display:block;margin: 0 auto;width: 300px;" src="<?=$config['qrcode']?>" alt="">

<p style="text-align: center">请先关注后操作。</p>
<p style="text-align: center">长按二维码关注<?=$config['name']?>。</p>

<script type="text/javascript" src="__PUBLIC__/Common/js/jquery-3.1.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/js/bootstrap.min.js"></script>
</body>
</html>