<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <title>用户中心</title>
    <!--{:hook('import_css','frozen')}-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/FrozenUI/1.3.0/css/frozen-min.css">
</head>

<body>

<header class="ui-header ui-header-positive ui-border-b" style="background-color: #FD6B71">
    <i style="" class="ui-icon-return" onclick="javascript:location.href = '{:create_addon_url('index')}';"></i>
    <i class="ui-icon-arrow"></i>
    <h1>用户中心</h1>
    <!--<button class="ui-btn">回首页</button>-->
</header>

<!--<div class="ptm-content ptm-card" style="margin-top:15px;">-->
<!--<ul class="ptm-list-view" style="">-->
<!--<li class="ptm-list-view-cell">-->
<!--<a class="" href="#">拼车风险提示</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<section class="ui-container">

    <ul style="margin-top: 15px;margin-bottom: 15px;" class="ui-list ui-border-tb">
        <li class="ui-border-t">
            <div class="ui-avatar-lg">
                <span style="background-image:url({$user.headimgurl})"></span>
            </div>
            <div class="ui-list-info">
                <h4 style="padding-top: 10px;" class="ui-nowrap">{$user.nickname}</h4>
                <p style="color: #515151;font-size: 13px;" class="ui-nowrap">余额: <?=$user['money']/100?> 元</p>
            </div>
        </li>
    </ul>

    <ul class="ui-list ui-list-link ui-border-tb">

        <li class="ui-border-t" onclick="javascript:location.href = '{:create_addon_url('user_push')}';">
            <div class="ui-list-thumb-s">
                <span style="background-image:url(__ROOT__/Addons/pinche/View/Public/img/add.png)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">我发布的</h4>
            </div>
        </li>

        <?php
        $config = get_addon_settings('pinche', get_mpid());

        if($config['user_center_is_show_charge']==1){
        ?>
        <li class="ui-border-t" onclick="javascript:location.href = '{:create_addon_url('recharge')}';">
            <div class="ui-list-thumb-s">
                <span style="background-image:url(__ROOT__/Addons/pinche/View/Public/img/mon.png)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">
                    充值中心</h4>
            </div>
        </li>

        <?php
        }
        ?>


        <li class="ui-border-t" onclick="javascript:location.href = '{:create_addon_url('car_cert')}';">
            <div class="ui-list-thumb-s">
                <span style="background-image:url(__ROOT__/Addons/pinche/View/Public/img/car_cert.png)"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">车主认证</h4>
            </div>
        </li>
    </ul>


    <div class="ptm-content ptm-card" style="margin-top:15px;">
        <ul class="ptm-list-view">
            <li class="ptm-list-view-cell">

            </li>
            <!--<li class="ptm-list-view-cell">-->
            <!--<a class="ptm-arrow-right" href="javascript:void(0)/about/about.html">我的包车</a>-->
            <!--</li>-->
            <!--<li class="ptm-list-view-cell">-->
            <!--<a class="ptm-arrow-right" href="javascript:void(0)/about/about.html">我的租车</a>-->
            <!--</li>-->
        </ul>
    </div>

</section>

</body>
</html>