body{ background: #f9f9f9;padding-bottom:60px }

.focus img { width: 100%; }
.list { padding: 5px;font-size:14px;color:#666 }
.list .a.istop:after{content:"置顶";font-size:12px;background:#e33737;color:#fff;padding:1px;position:absolute;width:60px;text-align:center;-webkit-transform:rotateZ(-45deg);left:-16px;top:6px;display:inline-block;height:16px;line-height:16px}
.list .a { background: #fff; border-radius: 2px; display:block;padding:10px;position:relative;margin-bottom:5px;position:relative;overflow:hidden}
.list .user {border-bottom:1px solid #f7f7f7;height:40px;line-height:40px;position:relative;padding-left:50px;font-size:16px;color:#333 ;margin-bottom:2px}
.list .user img { height: 30px; width: 30px; border-radius: 50%; position: absolute; top: 5px; left: 5px;  }
.list .user i { color: #75d9ff;font-size:20px;vertical-align:middle;margin-left:5px }
.list .user .girl { color: #ff9ce5; }
.list .y { position: relative; padding-left:15px;height:30px;line-height:30px;font-size:13px}
.list .y:before {content:"●";font-size:13px;color:#5084ff;position:absolute;left:0px;top:-1px}
.list .y:nth-child(2n):before { color: #5ad107; }
.list .tel { position: absolute; right: 10px; top: 70px; background: #e72b2a; font-size: 30px; color: #fff; width:40px;height:40px;line-height:40px;text-align:center; border-radius: 50%; }
.list .time em { color: red; }
.list .time .em2 { color: #75d9ff; }

.type { color: #fff; font-size: 12px; position: absolute; right: 0px; top: 10px; background: #fe696b; border-radius: 2px; height:16px;line-height:16px;padding:4px 5px}
.type2 { background: #75d9ff; }
.list .re { position: relative; }
.list .re em { position: absolute; right: 0px; color: #e33737; text-align:center;display:inline-block;width:40px}
.from { }
.from em { color: #666; }
.from em:first-child { padding-right: 6px; }
.from em:last-child { padding-left: 6px; }
.from i { border: 6px solid transparent; border-left: 6px solid #e4e4e4; width:0px; height: 0px; display:inline-block;vertical-align:middle;margin-left:4px}
.remark { border-top: 1px solid #f7f7f7; margin-top: 2px; color: #999; line-height: 1.6em;padding:5px 0 }
.tools { background: #fff; border-radius: 2px;padding:5px 5px 6px 5px;position:relative;margin:5px 5px 0 5px }
.tools .se { width: 100%; color:#999}
.tools .se input { border: 0; border-bottom: 1px solid #f5f5f5; width: 70px;text-align:center;padding:4px 0 }
.tools .se a { color: #fff;background:#e33737;border-radius:2px;font-size:12px;height:26px;line-height:26px;display:inline-block;padding:0 5px; }
.tools .sort { position: absolute; top: 5px; right: 5px; }
.tools .sort a { border-radius:0 3px 3px 0; border: 1px solid #f5f5f5;border-left:0px; height:26px;line-height:26px;padding:0 5px; font-size:12px;color:#ccc;margin:0px;float:left}
.tools .sort .sel { background: #8a8685; color: #fff;border-color:#8a8685 }
.tools .sort a:first-child { border-radius: 3px 0 0 3px; }

.mlink { position: fixed; right: 5px; bottom:55px;background:rgba(0,0,0,0.6); display: block; width: 34px; height: 34px; line-height:34px; text-align: center; font-size: 12px; color: #fff!important; border: 1px solid #e5e5e5; border-radius: 50%; -moz-box-shadow:0 0 10px #e5e5e5;-webkit-box-shadow:0 0 10px #e5e5e5;  box-shadow:0 0 10px #e5e5e5;  }
 