<!DOCTYPE html>
<html>
<head>
    <title>豆信功能演示</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    {:hook('import_css', array('weui','font-awesome'))}
</head>
<body>
  <div class="container" id="container">
    <div class="home">
      <div class="hd">
          <h1 class="page_title">豆信</h1>
          <p class="page_desc">功能演示</p>
      </div>
      <div class="bd">
          <div class="weui_cells_title">{$title}</div>
          <div class="weui_cells weui_cells_access">
              <volist name="lists" id="vo">
              <a class="weui_cell" href="{$vo.url}">
                  <div class="weui_cell_hd">
                      <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
                  </div>
                  <div class="weui_cell_bd weui_cell_primary">
                      <p>{$vo.title}</p>
                  </div>
                  <div class="weui_cell_ft">
                      
                  </div>
              </a>
              </volist>
          </div>
      </div>
    </div>
  </div>
</body>
</html>