<!DOCTYPE html>
<html>
<head>
    <title>豆信功能演示</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    {:hook('import_css', array('weui','font-awesome'))}
</head>
<body>
    <div class="container" id="container">
      <div class="home">
        <div class="hd">
            <h1 class="page_title">豆信</h1>
            <p class="page_desc">功能演示</p>
        </div>
        <div class="bd">
            <div class="weui_grids">
                <a href="{:create_addon_url('demo_list',array('type'=>'basic'))}" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="fa fa-weibo"></i>
                    </div>
                    <p class="weui_grid_label">
                        微信交互
                    </p>
                </a>
                <a href="#/cell" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_cell"></i>
                    </div>
                    <p class="weui_grid_label">
                        高级功能
                    </p>
                </a>
                <a href="#/toast" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_toast"></i>
                    </div>
                    <p class="weui_grid_label">
                        JSSDK
                    </p>
                </a>
                <a href="#/dialog" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_dialog"></i>
                    </div>
                    <p class="weui_grid_label">
                        微信支付
                    </p>
                </a>
                <a href="#/dialog" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_dialog"></i>
                    </div>
                    <p class="weui_grid_label">
                        UI布局
                    </p>
                </a>
                <a href="#/dialog" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_dialog"></i>
                    </div>
                    <p class="weui_grid_label">
                        API开发
                    </p>
                </a>
            </div>
        </div>
      </div>
    </div>
</body>
</html>