<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <title>微信捐赠</title>
        {:hook('jssdk', false)}
        {:hook('import_css', 'weui')}
        <style type="text/css">
            .page{
                max-width: 640px;
                margin: -10px auto 10px;
            }

            .page_title{
                margin: 0px 5px !important;
            }

            .page_title .weui_btn{
                float: left;
                width: 30%;
                margin: 5px;
                line-height: 60px;
            }

            .clear{
                clear: both;
            }
            .button_sp_area{
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        <div class="page cell">
            <div class="hd">
                <h1 class="page_title">
                    <if condition="$money">
                    <volist name="money" id="vo">
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary quickly_donate" data-price="{$vo}">{$vo}元</a>   
                    </volist>
                    <else />
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary quickly_donate" data-price="5">5元</a>
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary quickly_donate" data-price="10">10元</a>
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary quickly_donate" data-price="20">20元</a>
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary quickly_donate" data-price="50">50元</a>
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary quickly_donate" data-price="100">100元</a>
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary quickly_donate" data-price="200">200元</a>
                    </if>
                </h1>
            </div>

            <div class="clear"></div>

            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">自由捐</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" name="money" type="text" placeholder="请输入您要捐赠的金额">
                    </div>
                </div>
            </div>

            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <textarea rows="4" name="content" class="weui_textarea" placeholder="留下您想对我们说的话"></textarea>
                    </div>
                </div>
            </div>

            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_hd weui_cell_primary">是否匿名</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox" name="is_anonymous" value="0">
                    </div>
                </div>
            </div>

            <div class="bd spacing">
               
                <div class="button_sp_area">
                   
                    <a href="javascript:;" class="weui_btn weui_btn_plain_primary" id="donate">我要捐赠</a>
                    <a href="javascript:;" class="weui_btn weui_btn_plain_default" id="view">查看捐赠</a>
                   
                </div>
            </div>
        </div>        
 
    {:hook('import_js', 'jquery.min')}
    <script type="text/javascript">

        $(document).on('click', '.quickly_donate', function() {
            var price = $(this).attr('data-price');                     // 捐赠金额
            var data = {                                                // 捐赠数据
                price : price,
                is_anonymous : 0,
                content : ''
            };
            pre_donate(data);
        }).on('click', '#donate', function() {
            var price = $('input[name=money]');
            var content = $('textarea[name=content]');
            var is_anonymous = $('input[name=is_anonymous]');
            if (!price.val()) {
                alert('请填写你要捐赠的金额');
                price.focus();
                return false;
            }
            var reg = new RegExp('^[0-9]+(\.[0-9]{2})?$');
            if (!reg.test(price.val())) {
                alert('请正确填写你要捐赠的金额，整数或者包含两位小数的浮点数');
                price.focus();
                return false;
            }
            var data = {
                price : price.val(),
                is_anonymous : is_anonymous.val(),
                content : content.val()
            };
            pre_donate(data);
        }).on('click', 'input[name=is_anonymous]', function() {
            var is_anonymous = $(this).val();
            is_anonymous == 1 ? $(this).val(0) : $(this).val(1);
        }).on('click', '#view', function() {
            window.location.href = "{:create_addon_url('donate_list')}";
        });

        /**
         * 预捐赠（支付前写入捐赠数据）
         * @author 艾逗笔<765532665@qq.com>
         */
        function pre_donate(data) {
            $.ajax({
                url : "{:create_addon_url('pre_donate')}",
                type : 'post',
                dataType : 'json',
                data : data,
                success : function(res) {
                    if (res.errcode == 1) {
                        var price = res.money;
                        var orderid = res.orderid;
                        var notify = res.notify;
                        pay(price, orderid, notify, res, pay_ok);           // 发起支付
                    } else {
                        alert(res.errmsg);
                    }
                },
                error : function() {
                    alert('捐赠失败');
                }
            });
        }

         /**
          * 支付成功后的回调函数
          * @author 艾逗笔<765532665@qq.com>
          */
        function pay_ok(data) {
            if (data.errcode == 1) {
                window.location.href = data.jump_url;
            }
        }
    </script>
    </body>
</html>
