<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    {:hook('import_css','weui')}
    {:hook('import_js','weui')}
    {:hook('import_css','font-awesome')}
</head>
<body>
  <div class="container" id="container">
    <div class="home">
      <div class="hd">
          <h1 class="page_title">{$site_info['title']}</h1>
          <p class="page_desc">为微信Web服务量身设计</p>
      </div>
      <div class="bd">
          <div class="weui_grids">
              <a href="#/button" class="weui_grid">
                  <div class="weui_grid_icon">
                      <i class="fa fa-weibo"></i>
                  </div>
                  <p class="weui_grid_label">
                      Button
                  </p>
              </a>
              <a href="#/cell" class="weui_grid">
                  <div class="weui_grid_icon">
                      <i class="icon icon_cell"></i>
                  </div>
                  <p class="weui_grid_label">
                      Cell
                  </p>
              </a>
              <a href="#/toast" class="weui_grid">
                  <div class="weui_grid_icon">
                      <i class="icon icon_toast"></i>
                  </div>
                  <p class="weui_grid_label">
                      Toast
                  </p>
              </a>
              <a href="#/dialog" class="weui_grid">
                  <div class="weui_grid_icon">
                      <i class="icon icon_dialog"></i>
                  </div>
                  <p class="weui_grid_label">
                      Dialog
                  </p>
              </a>
          </div>
      </div>
    </div>
  </div>
</body>
</html>