#step1 { position: relative;background:#fff  }
#step1 h1 { height: 30px; padding:10px;font-size:18px;color:#777 }
#step1 .group { display: block;height:auto;overflow:hidden;width:auto;padding:0 10px;margin-bottom:15px;border-bottom:1px dotted #F0F0F0 }
#step1 .group h2 { height:30px;color:#f60;font-size:16px}
#step1 .group h2 a {color:#f60; }
#step1 li { float: left; width: 33.3%; height:30px;font-size:14px;overflow:hidden}
#step1 li a { color: #888; height:20px;overflow:hidden;display:inline-block}
#step1 .close { position: absolute; display: block; width: 30px;height:30px;line-height:30px;font-size:16px;font-weight:bold; text-align: center; color: #fff; background: #f60;z-index:101;top:0;right:0px }
#step1 .page-main { }




#finally { padding: 80px 0; height:300px}
#finally em { text-align: center; display: block; font-size: 16px; height: auto;overflow:hidden; line-height: 1.8em;margin-bottom:25px; color: #4b4b4b; font-style:normal;padding:0 10px}
#finally .link { height: 30px;text-align:center }
#finally .link a { background: #f60; padding: 8px 8px; display: inline-block; margin: 0 4px 3px 4px; color: #fff;border-radius:3px;font-size:14px }
#finally .link i { margin-right: 4px; }


.form .row { padding: 0px 0px; border-bottom:1px solid #f7f7f7;font-size:14px;height:auto;line-height:44px;overflow:hidden;position:relative;padding-left:60px;box-sizing:border-box}
.form .row .label { position: absolute; left: 8px; top: 0px;color:#999;height:100%; }
.form .row .con { height: auto; overflow: hidden; }
.form .textarea .con{ line-height: initial; }
.form .inp{width:100%;height:44px;border:0px;padding:7px 6px;box-sizing:border-box;font-size:14px }
.form textarea {height:220px;line-height:1.6em;padding:5px;box-sizing:border-box;font-size:14px;border:0px;width:100%;margin-top:5px}
.form .rs { padding-top:5px;padding-bottom:5px;line-height:initial}
.form .rs .label { line-height: 47px; }
.form .rs li { float: left; margin-right: 5px; }
.form .rs2 li{ height: 40px; line-height: 40px;float:left;margin-right:20px }
.form .b-row { padding: 20px 8px; }
.form .ops { /*background: #fafafa;*/ height:30px;line-height:30px;padding:5px 0}
.form .ops a { display: block; width: 20%; text-align: center; font-size: 12px; color: #999;float:left;position:relative }
.form .ops a i {  font-size:20px;margin-right:5px;display: inline-block;vertical-align:bottom}
.form .ops a em { display: inline-block;margin-top:-2px }
.form .ops input { position: absolute; top: 0; left: 0px;width:100%; height:100%; filter: alpha(opacity:0); opacity: 0; }
.form .upimg {}
.form .upimg .singUploader { line-height: 20px; }
.form .upimg .webuploader-pick { padding: 5px 10px; margin-top:5px}
.form .upimg img { max-width: 100px; }
.form .sw { float: right; width: 70px; padding-top:12px;height:30px}
.form .swtxt { float: left;padding:4px 15px 0px 0 ;color:#999; }
.form .swrow { padding-left:10px; }

#fin .header3 { z-index: 4; }
#fin #b-menu { display: none; }
#fin #header{ display: none; }
#fin { background: url(/images/login_bg.jpg) 0 0 no-repeat; background-size: 100% auto; }
#fin .mask { display: block; }
#fin .box { position: absolute; width: 70%; top: 100px; left: 50%; margin-left: -35%; background: #fff; border-radius: 4px;z-index:3;text-align:center;padding:20px 0 }
#fin .box .icon { text-align: center;height:75px }
#fin .box .icon i {  font-size:60px;color:#ff6a6e;}
#fin .txt { font-size: 14px; text-align: center; line-height: 1.6em; color: #666; padding:0 20px}
#fin .link { width: 70%;margin-left:15%;margin-top:30px }
#fin .link a { display: block; margin-bottom:9px;border:1px solid #fe686a;background:#fff; color:#fe686a;border-radius:20px;height:40px;line-height:40px;font-size:14px}
#fin .link a.sel {background:#fe686a;border-color:#fe686a;color:#fff }
#fin .link a i { padding-right: 3px; }